:root {
  --color-primery: #2e2f42;
  --color-secondary: #434455;
  --color-logo-button: #4d5ae5;
  --color-hover: #404bbf;
  --color-background: #ffffff;
  --color-background-sec: #f4f4fd;
  --color-border: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-primery);
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul a {
  text-decoration: none;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.border-box {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
}
/* Header */
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-tel {
  display: flex;
  gap: 40px;
}
.heading-address {
  margin-left: auto;
}
.logo-first {
  color: var(--color-logo-button);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-second {
  color: var(--color-primery);
}
.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-primery);
  padding: 24px 0;
  display: block;
}
.header-link:hover {
  color: var(--color-hover);
}
.header-link:focus {
  color: var(--color-hover);
}
.header-address {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  padding: 24px 0;
  display: block;
}
.header-address:hover {
  color: var(--color-hover);
}
.header-address:focus {
  color: var(--color-background);
  background-color: var(--color-hover);
}
/* Hero section */
.hero-first {
  background-color: var(--color-primery);
  padding: 188px 0;
}
.container-hero {
  width: 496px;
  margin: 0 auto;
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--color-background);
  margin-bottom: 48px;
}
.hero-button {
  background-color: var(--color-logo-button);
  color: var(--color-background);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
}
.hero-button:hover {
  background-color: var(--color-hover);
}
/* Benefits */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.heading-benefits {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.text-benefits {
  color: var(--color-secondary);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.container-benefits {
  display: flex;
  gap: 24px;
}
.list-benefits {
  flex-basis: calc((100% - 72px) / 4);
}
.section-benefits {
  padding: 120px 0;
}
/* Doing */
.title-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.images-doing {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 48px) / 3);
}
.section-doing {
  padding-bottom: 120px 0;
}

/* Our team*/
.team {
  background-color: var(--color-background-sec);
}
.box-team {
  background-color: var(--color-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-section {
  padding: 120px 0;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}
.heading-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.text-team {
  color: var(--color-secondary);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.container-team {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4);
}
.experts {
  padding: 32px 0;
}
/* Footer */
.footer {
  background-color: var(--color-primery);
  padding: 100px 0;
}
.text-footer {
  color: var(--color-border);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
}
.logo-lower {
  color: var(--color-background-sec);
}
/* Portfolio */
.container-portfolio {
  margin-bottom: 120px;
}
.button-portfolio {
  color: var(--color-logo-button);
  background-color: var(--color-background-sec);
  border: 1px solid var(--color-border);
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
}
.button-portfolio:hover {
  color: var(--color-background);
  background-color: var(--color-hover);
  border-color: transparent;
}
.button-portfolio:focus {
  color: var(--color-background);
  background-color: var(--color-hover);
}
.portfolio-filter {
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
}
.box-portfolio {
  background-color: var(--color-background);
}
.portfolio-box {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  flex-basis: calc((100% - 48px) / 3);
}
.box-name {
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: 32px 16px;
}
.box-product {
  color: var(--color-primery);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
}
.box-filter {
  color: var(--color-secondary);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
